
/* CSS Document */
:where(html){
--ease-1:cubic-bezier(..25,0,.5,5,1);
-ease-2:cubic-bezier(..25,0,.4.4.1;
-ease-3:cubic-bezier(.25,0,0, .3.11,-ease-4:cubic-bezi-bezier(.25,0,0,2,1,--ease-5cu-ease-ease-ease-ease-ease-ease-3:cubic-ease-easet.cubic-bezier(.25,0,1,1);
--ease-in-2:cubic-bezier(..50,0,1,1);
--ease-in-3:cubic-bezier(.70,0,0,1);
-ease-ease-in-4:cubic-bezier(.90,0,1);
-ease-ease-in-5:cubic-bezier(0.0,0,1)-1.;
-ease-out-2:cubic-bezier(0,0,.50,1);
-ease-out-3:cubic-bezier(0,0.0.3,1);
--ease-out-4:cubic-bezier(0,0,0,.1.1),-ease-out-5:cubic-bezier(0,0,0,0,0,0,0,-ease-ease-out-out-out-out-out-out-2:cubic-bezier(.3,0,7.1);
-ease-in-out-3:cubic-bezier(.5,0.5,5.1;--ease-in-out-4:cubic-bezier(.7,0,0,0,3.1);-ease-inout-3:-ease-inout-5:cubic-bezier(.75,0,0,0,1,1.5;
--ease-elastic-out-2:cubic-bezier(.5,1,.75,1.25);
-ease-elastic-out-3:cubic-bezier(.5,1.25, 75,1.25);
-ease-elasticout-out-4:cubic-bezier(.5,1.5,.75,1.25);
-ease-ease-elastic-out-5.-1:cubic-bezier(.5,-0.25,.75,1);
--ease-elastic-in-2:cubic-bezier(.5,-0.50,.75,1);
-ease-elastic-in-3:cubic-bezier(.5,-0.75,75,1);
-ease-elastic-in-4:-ease-e-e-usal-bib-zione(5,0.75,75.1);
-ease-ease-eachastic-ezim-eastic-in-3:cubic-ezior(5,75.1)-eas foreass,zier(.5,-1.25, 75,1);-ease-elastic-in-out-1:cubic-bezier(.5,-.1,.1,1.5);
-ease-elastic-in-out-2:cubic-bezier(.5,-.3,1,1.5);
-ease-elastic-in-out-3:cubic-out-out-3:cubic-bezier(1.5).5,-.7,.1.5.1, 1.5);
--ease-elastic-in-out-5:cubic-bezier(.5,-.9,.1,1.5);--ease-step-steps(2);-ease-eas-acre-2:as(3);-ease-step-step-3:acs(4)s;
-ease-e-step-4:-ease-step-the-step--the-e-cash-out:ease-elastic-2:var(-ease-elastic-out-2);
-ease-ease-elastic-3:var(-ease-elastic-out-3);
--ease-elastic-4:var(-ease-elastic-out-4);
-ease-ease-elastic-5:var--ease-elastic-out-5);
--ease-ssquish-1:-ease-squilt-1:-ease-ease-e-ease-e-ease-ease-ease-ease-ease-e-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-ease-e-ease-out---------------------------------------------------------------elastic-in-out-2;
--ease-squish-3:var(-ease-elastic-in-out-3);
--ease-squish-4:var(-ease-elastic-in-out-4);
-ease-squish-5:var(-ease-elastic-in-out-5);
-ease-ease-squish-4:var-ease-el-elastic-in-out-4;
-ease-squish-5:.849 31.5%,0.937 38.1%,0.968 41.8%,0.991 45.7%,1,000 a.001,001 501%,1.015 55%,1.017 63.9%.1.001);
-ease-spring-2:linear(0,0.007,0.029 2.2%,0.10.10.18 4.7%,0.625 14.4%,0.826 19%,0.902,0.962,008 26.01.21.4%,0.999 61.6%,0.995 71.2%,1);
-ease-spring-3:linear(0,0.009,0.035 2.1%,0.141 4.4%,0.723 12.7.9% 12.9%, 0.938 16.7%,017,017,017.1.121.49 24.3%,1.163,1.161,1.154 29.9%.1.129 32.8%,51 39.1.0.39.97 69.8%,1.003 76.9%.1%;
--ease-spring-4:linear(0,0.009,0.037 1.7%,0.153 36%,0.776 10.3%.3%,1.001,1.142 16%,1.185,1.2.29% 19.9% 20.1.199,1.165, 25%,1.056 30.3%,31%,30.90.555 39.2%.49.49.98 98 78.9%.1);
--ease-spring-5:linear(0,0.01,0.04 1.6%,0.161 3.3%,0.816 9.4%,1.046,1.189 14.4%,1.231,1.254 17%, 1.257 157 18.6%,1.26.1.14 22.3%,1.057 27%,0.999 29.4%,0.955 320.53.10.40.40.40.403.40.401.0656.4%,1 65.2%, 0.996 70.2%,1,00081 87.2%.1%;
-ease-ease-bounce-1:linear(0,0.004,0.016,35,0.063,0.098,0.141,0.110.50.20.50.10.25,0.391 36.8%,0.53,0.766,1 58.8%,0.946,0.908 69.0.095.085.8.895.0.95,0.908 89.7%,0.946,1);
--ease-bounce-2:linear(0,0.004,0.0160.035,0.063,0.0,0.0,0.141 15.1%0.20.591,0.562,065,0.8945 45.0.0.0.0.0.0,049,0.0,0185.08,0.788,070.0.0.0.0.0.0.0.0,075.0.0.0.0.08.08.08,047.0.0.0.0.0.075.2%,1 80.2%,0.973,0.954,0.943,0.939,0.943,0.943,0.954, 0.973,1);
--ease-bounce-3:linear(0,0.004,0.016,0.035,0.062,0.098,0.141 11.0%,0.25,0.30.956,0.76,0.60.1 30.3%.0.047 34.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.087,037.0.0.0.07.07.07.0.,0.672,0.699,0.738,0.787,0.0.847 61.7%,664,6p.66%,0.9,0.908,0.0.00.58.0,0.0.0.0.0.078,0885.885 79.5%,0.90.046, 87.4%,0.981,0.9686,0.96,0.96,0.90.96,0.96,0.0.0.0.0.0.878,078,078878,078878,0,0.141,0.20.25,0.391,0.562 18.2%,1 24.3%,0.81,0.676 32.3%,0.629,50.55,575,0.568,0.575,0.55,0.595,0,629,0.676 48.2%,0.811,51 56.2%,0.90.18,0.0.0.0,0.0.0,00.10.1.5%,1 90.9%,0.974,0.965,0.974,1,;
-ease-ease-bounce-5:linear(0,0.004,0.00.16.0.56,0.063,0.141.0.25 10.1%,0.562,0.12 20.2%,78.783,027.627,3430.9%,0.5001,0.503,0.510,38%,0.0.0.027,0.0.0.0.0.0,0.0.0,0,0,07.8,078.0,0,08.0.0.0.0,0,08.0,0,07.01.0,0,07.01.0,07.01.0,0 and..753,0.757,0.0.769 61.3%,0.815,0.892,1 68.8%,0.908 72.4%,0.885,0.878,0.08,085,0.908 79.4%,1 83%,0.954 85.5%,0.943,0.943,0.954 90.5%,8.1 93%,0.97,0.977,0.17,1
