@charset "utf-8";
/* CSS Document */

  .equation{
	  	font-style: italic;
  		font-weight: bold;
		font-size: 125%;
  }
  .fraction { 
  		text-align: center; 
		vertical-align: middle;
        margin-top:0.5em; 
		margin-bottom:0.5em; 
		line-height: 2em; }
  .upper_line { 
 		 border-top:solid 1px black; 
  }
  
