@charset "utf-8";
/* CSS Document */
body {
  height: 2000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #b8310f 85%);
}

.secTitle{	
	color: white;
	text-shadow: 2px 2px #555555;
	background: linear-gradient(0deg, #b37400 10%, #ffa500 30%, #ffa500 75%, #ffc14d 99%);
	border-radius: 10px;
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
}
.secTitle2{	
	color: white;
	text-shadow: 2px 2px #555555;
	background: linear-gradient(0deg, #ff8000 10%, #ffa500 30%, #ffa500 75%, #ffbf00 99%);
	border-radius: 10px;
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
}
.secTitle3{	
	color: white;
	text-shadow: 2px 2px #555555;
	background: linear-gradient(0deg, #ff8000 5%, #ffa500 30%, #ffa500 70%, #ffc14d 95%);
	border-radius: 10px;
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 1px;
	font-weight: bold;
	text-align: center;
}